
*.ide-shm
*.ide-wal
.vs/FishingGuideSolution/v15/Server/sqlite3/storage.ide-shm
.vs/FishingGuideSolution/v15/Server/sqlite3/storage.ide-wal
.vs/FishingGuideSolution/v15/Server/sqlite3/storage.ide-shm
.vs/FishingGuideSolution/v15/Server/sqlite3/storage.ide-wal
