USE [master]
GO
/****** Object:  Database [FishingDB]    Script Date: 7/18/2019 11:24:39 AM ******/
CREATE DATABASE [FishingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FishingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\FishingDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FishingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\FishingDB_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FishingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FishingDB]
GO
/****** Object:  Table [dbo].[ASSESSMENT]    Script Date: 7/18/2019 11:24:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ASSESSMENT](
	[NUMBER_LIMIT] [varchar](40) NOT NULL,
	[LENGTH_LIMIT] [varchar](40) NOT NULL,
	[ASSESSMENTID] [int] NOT NULL,
	[FISH_ID] [int] NOT NULL,
	[ZONE_ID] [int] NOT NULL,
 CONSTRAINT [PK_ASSESSMENT] PRIMARY KEY NONCLUSTERED 
(
	[ASSESSMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FISHING_DATE]    Script Date: 7/18/2019 11:24:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FISHING_DATE](
	[ZONE_ID] [int] NOT NULL,
	[FISH_ID] [int] NOT NULL,
	[LEGAL_DATE_MIN] [datetime] NULL,
	[LEGAL_DATE_MAX] [datetime] NULL,
	[AVAILABLE] [bit] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FISHING_SPECIES]    Script Date: 7/18/2019 11:24:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FISHING_SPECIES](
	[FISH_ID] [int] NOT NULL,
	[FISH_NAME] [varchar](30) NOT NULL,
	[FISH_PHOTO] [varchar](100) NULL,
 CONSTRAINT [PK_FISHING_SPECIES] PRIMARY KEY NONCLUSTERED 
(
	[FISH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FISHING_ZONE]    Script Date: 7/18/2019 11:24:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FISHING_ZONE](
	[ZONE_ID] [int] NOT NULL,
	[TICKET_ID] [int] NOT NULL,
	[ZONE_NUMBER] [varchar](20) NOT NULL,
	[GENERAL_INFORMATION] [text] NULL,
 CONSTRAINT [PK_FISHING_ZONE] PRIMARY KEY NONCLUSTERED 
(
	[ZONE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 7/18/2019 11:24:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TICKET](
	[PROVINCE] [char](2) NOT NULL,
	[VALID] [bit] NOT NULL,
	[TICKET_ID] [int] NOT NULL,
 CONSTRAINT [PK_TICKET] PRIMARY KEY NONCLUSTERED 
(
	[TICKET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [CONSIST_FK]    Script Date: 7/18/2019 11:24:39 AM ******/
CREATE NONCLUSTERED INDEX [CONSIST_FK] ON [dbo].[ASSESSMENT]
(
	[FISH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [INCLUDES_FK]    Script Date: 7/18/2019 11:24:39 AM ******/
CREATE NONCLUSTERED INDEX [INCLUDES_FK] ON [dbo].[ASSESSMENT]
(
	[ZONE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [DECIDE1_FK]    Script Date: 7/18/2019 11:24:39 AM ******/
CREATE NONCLUSTERED INDEX [DECIDE1_FK] ON [dbo].[FISHING_DATE]
(
	[FISH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [DECIDE2_FK]    Script Date: 7/18/2019 11:24:39 AM ******/
CREATE NONCLUSTERED INDEX [DECIDE2_FK] ON [dbo].[FISHING_DATE]
(
	[ZONE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [COVER_FK]    Script Date: 7/18/2019 11:24:39 AM ******/
CREATE NONCLUSTERED INDEX [COVER_FK] ON [dbo].[FISHING_ZONE]
(
	[TICKET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ASSESSMENT]  WITH CHECK ADD  CONSTRAINT [FK_ASSESSME_CONSIST_FISHING_] FOREIGN KEY([FISH_ID])
REFERENCES [dbo].[FISHING_SPECIES] ([FISH_ID])
GO
ALTER TABLE [dbo].[ASSESSMENT] CHECK CONSTRAINT [FK_ASSESSME_CONSIST_FISHING_]
GO
ALTER TABLE [dbo].[ASSESSMENT]  WITH CHECK ADD  CONSTRAINT [FK_ASSESSME_INCLUDES_FISHING_] FOREIGN KEY([ZONE_ID])
REFERENCES [dbo].[FISHING_ZONE] ([ZONE_ID])
GO
ALTER TABLE [dbo].[ASSESSMENT] CHECK CONSTRAINT [FK_ASSESSME_INCLUDES_FISHING_]
GO
ALTER TABLE [dbo].[FISHING_DATE]  WITH CHECK ADD  CONSTRAINT [FK_FISHING__DECIDE1_FISHING_] FOREIGN KEY([FISH_ID])
REFERENCES [dbo].[FISHING_SPECIES] ([FISH_ID])
GO
ALTER TABLE [dbo].[FISHING_DATE] CHECK CONSTRAINT [FK_FISHING__DECIDE1_FISHING_]
GO
ALTER TABLE [dbo].[FISHING_DATE]  WITH CHECK ADD  CONSTRAINT [FK_FISHING__DECIDE2_FISHING_] FOREIGN KEY([ZONE_ID])
REFERENCES [dbo].[FISHING_ZONE] ([ZONE_ID])
GO
ALTER TABLE [dbo].[FISHING_DATE] CHECK CONSTRAINT [FK_FISHING__DECIDE2_FISHING_]
GO
ALTER TABLE [dbo].[FISHING_ZONE]  WITH CHECK ADD  CONSTRAINT [FK_FISHING__COVER_TICKET] FOREIGN KEY([TICKET_ID])
REFERENCES [dbo].[TICKET] ([TICKET_ID])
GO
ALTER TABLE [dbo].[FISHING_ZONE] CHECK CONSTRAINT [FK_FISHING__COVER_TICKET]
GO
USE [master]
GO
